body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

a {
  color: navy;
  margin-right: 10px;
}

.header {
  background-color: lightblue;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 12px 0 12px;
}

.login-status {
  margin-left: auto;
  margin-right: 12px;
}

.navbar {
  background-color: lightblue;
  position: absolute;
  padding: 10px;
  top: 100px;
  left: 10px;
  right: 10px;
}

.content {
  background-color: whitesmoke;
  position: absolute;
  padding: 10px;
  top: 150px;
  bottom: 70px;
  left: 10px;
  right: 10px;
}

.card-element {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
}

.button {
  margin: 12px;
  display: block;
}

.delete-icon {
  float: right;
  cursor: pointer;
}

.footer {
  background-color: lightblue;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.footer-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.mr-10 {
  margin-right: 10px;
}

.fs-15 {
  font-size: 15px;
}
