.login-status {
    color: white;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.delete-icon {
    float: right;
    cursor: pointer;
}

.task-option {
    cursor: pointer;
    color: #4183c4;
    margin-right: 10px;
    font-style: italic;
}
